<div class="buttons">
  <form action="/signup" method="get">
    <button type="submit">Sign Up</button>
  </form>  <form action="/login" method="get">
    <button type="submit">Log In</button>
  </form>
</div>
<div class="img">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQDGQ55_znshhGDlxv5sDZz96tD3hxPc5j8CVWMKvJcw&s" alt="">
</div>