<h2>Mi info</h2>
{{#each data}} 
    <div class="card">
        <div class="card-body">
            <div class="card-info">
                    <a href={{url}} target="_blank" style="text-decoration: none; color:black;"><h1>{{title}}</h1></a>
            </div>
            <div class="card-img">
                <img src={{urlToImage}} alt="" style="width: 500px; height : 500px ;">
            </div>        </div>
    </div>
{{/each}}
